/* Set text alignment to center */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.divbtn {
  /* Float the button to the left */
  float: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.btn {
  margin-left: 20px;
}

/*add new*/
.c1 {
  margin-left: 2px;
  margin-bottom: 20px;
}

/*card center*/
.card1 {
  margin: 200px 0;
  
}
/* 




/*EmpListing styling*/
.create-section {
  margin:200px 0;
}

/*EmpEdit styling*/
.edit-section {
  margin:200px 0;
}

/*error styling*/
.error {
  position: absolute;
  color: red;
  font-size: .8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}